{{#each session.sortedSubscriptions as |subscription|}}
	{{#if subscription.showNotification}}
		<div class="notification">
			{{#if subscription.entry}}
				{{user-photo user=subscription.lastChildModel.user class="inline-block"}}
				<span class="name">{{subscription.lastChildModel.user.username}}</span> {{notification-text subscription.subModelChildren.length}} liked your {{link-to 'entry' 'project.index.entries' subscription.project}}
			{{/if}}

			{{#if subscription.pile}}
				{{subscription.lastChildModel.user.username}} put submission in {{link-to subscription.project.name 'project.index.entries' subscription.project}} ({{subscription.subModelChildren.length}} total)
			{{/if}}

			{{#if subscription.isProject}}
				{{log 'project'}}
				{{log subscription.project}}
				{{log 'project.entries'}}
				{{log subscription.project.entries}}
				{{log 'project.entries.lastObject'}}
				{{log subscription.project.entries.lastObject}}
				{{log 'project.entries.lastObject.user'}}
				{{log subscription.project.entries.lastObject.user}}
				{{subscription.project.entries.lastObject.user.username}}'s submission has been accepted in {{link-to subscription.project.name 'project.index.entries' subscription.project}} ({{subscription.subModelChildren.length}} submissions total)
			{{/if}}
			<br>
			<span class="time">{{moment-from-now subscription.lastChildModelCreatedAt}}</span>
		</div>
	{{/if}}
{{/each}}
